.partners__section {
  padding-bottom: 128px;
  .partners__title {
    padding-bottom: 40px;
    h3 {
      font-size: 48px;
      font-weight: 700;
      color: $white;
      span {
        color: $yello;
      }
    }
  }
  .partners__container {
    padding-bottom: 40px;
    .partner__list__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .partner__logo {
        width: 20%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .partner__headline {
        width: 75%;
        img {
          width: 100%;
          height: auto;
        }
        h4 {
          font-size: 28px;
          font-weight: 700;
          color: $white;
        }
      }
    }
  }
  .partners__description {
    .partners__desc__info {
      p {
        font-size: 26px;
        font-weight: 300;
        color: $white;
        line-height: 30px;
      }
    }
  }
}
