.partners__section {
  padding-bottom: 128px;
  @include media-breakpoint-down(md) {
    padding-bottom: 80px;
  }
  .partners__title {
    padding-bottom: 40px;
    h3 {
      font-size: 48px;
      font-weight: 700;
      color: $white;
      @include media-breakpoint-down(md) {
        font-size: 32px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
      span {
        color: $yello;
      }
    }
  }
  .partners__container {
    padding-bottom: 80px;
    position: relative;
    .slick-slider {
      .prev__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 45%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 40%;
        }
        @include media-breakpoint-down(sm) {
          left: 35%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .next__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 50%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 53%;
        }
        @include media-breakpoint-down(sm) {
          left: 50%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .partner__item__wrapper {
      margin: 0 15px;
      .partner__list__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .partner__logo {
          width: 20%;
          svg {
            width: 100%;
            height: auto;
          }
        }
        .partner__headline {
          width: 75%;
          img {
            width: 100%;
            height: auto;
          }
          h4 {
            font-size: 28px;
            font-weight: 700;
            color: $white;
            @include media-breakpoint-down(md) {
              font-size: 22px;
            }
            @include media-breakpoint-down(sm) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .partners__description {
    .partners__desc__info {
      p {
        font-size: 26px;
        font-weight: 300;
        color: $white;
        line-height: 30px;
        @include media-breakpoint-down(md) {
          font-size: 18px;
          list-style: 28px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 16px;
          list-style: 25px;
        }
      }
    }
  }
}
