.feedback__container {
  margin-bottom: 120px;
  @include media-breakpoint-down(md) {
    margin-bottom: 80px;
  }
  .feedback__heading {
    h3 {
      font-size: 42px;
      font-weight: 700;
      color: $white;
      padding: 0px 80px;
      @include media-breakpoint-down(md) {
        font-size: 32px;
        padding: 0 20px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
        padding: 0 20px;
      }
      span {
        color: $yello;
      }
    }
  }
  .feedback__slider {
    .slick-slider {
      .prev__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 45%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 38%;
        }
        @include media-breakpoint-down(sm) {
          left: 35%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .next__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 50%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 54%;
        }
        @include media-breakpoint-down(sm) {
          left: 50%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .slick-list {
        .slick-track {
          .slick-current {
            .feedback__slider__item {
              .feedback__item__content {
                background: $main;
                .feedback__img {
                  svg {
                    path {
                      fill: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    margin-top: 90px;
    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
    .feedback__slider__item {
      .feedback__item__content {
        padding: 36px;
        margin: 0 15px;
        border: 1px solid $black;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 24px;
        @include media-breakpoint-down(md) {
          padding: 25px;
        }
        @include media-breakpoint-down(sm) {
          padding: 20px;
        }
        .feedback__img {
          margin-bottom: 22px;
          @include media-breakpoint-down(sm) {
            margin-bottom: 14px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: $gray;
          @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        .feedback__item__footer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          margin-top: 25px;
          @include media-breakpoint-down(sm) {
            margin-top: 14px;
          }
          .advice__img {
            width: 40px;
            height: 40px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .advice__info {
            padding-left: 15px;
            h4 {
              font-size: 20px;
              font-weight: 400;
              color: $gray;
              @include media-breakpoint-down(md) {
                font-size: 18px;
              }
            }
            p {
              font-size: 16px;
              font-weight: 400;
              color: $gray;
              @include media-breakpoint-down(md) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
