footer.footer__section {
  padding-bottom: 40px;
  .short__info__footer {
    .footer__info__text {
      margin-top: 40px;
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
      p {
        padding-right: 40px;
        color: $gray;
        font-size: 18px;
        line-height: 30px;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 25px;
          padding-right: 0px;
          padding-bottom: 20px;
        }
      }
    }
  }
  .footer__service {
    .footer__service__title {
      h3 {
        font-size: 20px;
        color: $white;
        padding-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          padding-bottom: 20px;
        }
      }
    }
    .footer__service__menu {
      display: flex;
      flex-direction: column;
      a {
        line-height: 45px;
        font-size: 18px;
        color: $white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
  }
  .footer__resource {
    .footer__resource__title {
      h3 {
        font-size: 20px;
        color: $white;
        padding-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .footer__resource__menu {
      display: flex;
      flex-direction: column;
      a {
        line-height: 45px;
        font-size: 18px;
        color: $white;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
  }
  .footer__newslatter {
    .footer__newslatter__title {
      h3 {
        font-size: 20px;
        color: $white;
        padding-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
    .footer__newslatter__text {
      p {
        font-size: 18px;
        color: $white;
        line-height: 30px;
        padding-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
    .footer__newslatter__form {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      input {
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        width: 80%;
        padding: 15px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        border: none;
        outline: none;
        padding: 15px 10px;
        background: $main;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        @include media-breakpoint-down(sm) {
          padding: 13px 10px;
        }
        svg {
          color: $white;
          background: $main;
          width: 24px;
          height: 24px;
        }
      }
    }
    .footer__social__link {
      width: 100%;
      display: flex;
      gap: 12px;
      margin-top: 24px;
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
      .social__icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all linear 0.3s;
        @include media-breakpoint-down(sm) {
          width: 36px;
          height: 36px;
        }
        svg {
          @include media-breakpoint-down(sm) {
            width: 18px;
            height: 18px;
          }
        }
        &:hover {
          background: $main;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
}

.copyright__section {
  .copyright__text {
    padding: 8px 0;
    p {
      font-size: 14px;
      font-weight: 400;
      color: $yello;
    }
  }
}
