.blog__container {
  margin-bottom: 120px;
  @include media-breakpoint-down(md) {
    margin-bottom: 80px;
  }
  .blog__heading {
    h3 {
      font-size: 42px;
      font-weight: 700;
      color: $white;
      padding: 0px 80px;
      @include media-breakpoint-down(md) {
        font-size: 32px;
        padding: 0 60px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
        padding: 0 20px;
      }
      span {
        color: $yello;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: $gray;
      line-height: 30px;
      padding: 0px 20px;
      margin-top: 24px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 28px;
        padding: 0 10px;
        margin-top: 14px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 24px;
        padding: 0 10px;
        margin-top: 14px;
      }
    }
  }
  .blog__slider {
    margin-top: 48px;
    position: relative;
    .slick-slider {
      .prev__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 45%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 38%;
        }
        @include media-breakpoint-down(sm) {
          left: 35%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .next__arrow {
        position: absolute;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 11;
        bottom: -60px;
        left: 50%;
        transition: all 0.3s linear;
        &:hover {
          background: $main;
        }
        @include media-breakpoint-down(md) {
          left: 54%;
        }
        @include media-breakpoint-down(sm) {
          left: 50%;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    .blog__slider__item {
      .blog__item__content {
        padding: 24px;
        background: $black;
        margin: 0 15px;
        border-radius: 16px;
        @include media-breakpoint-down(md) {
          padding: 15px;
        }
        @include media-breakpoint-down(sm) {
          padding: 12px;
        }
        .blog__img {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
        h4 {
          font-size: 20px;
          font-weight: 600;
          color: $white;
          padding: 24px 0;
          @include media-breakpoint-down(md) {
            font-size: 18px;
            padding: 12px 0;
          }
        }
        .blog__item__footer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: underline !important;
            color: $white;
            @include media-breakpoint-down(md) {
              font-size: 15px;
            }
          }
          p {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            @include media-breakpoint-down(md) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
