* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
ul,
ol {
  list-style-type: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
  // line-height: 0.8;
}
body {
  background: $bg-color !important;
}
button,
input {
  border: none;
  outline: none;
}
