.our__work {
  padding-bottom: 128px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 85px;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 80px;
  }
  .work__title {
    h3 {
      font-size: 42px;
      font-weight: 700;
      color: $white;
      padding-bottom: 24px;
      @include media-breakpoint-down(xl) {
        font-size: 36px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 36px;
      }
      @include media-breakpoint-down(md) {
        font-size: 32px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
      span {
        color: $yello;
      }
    }
  }
  .work__desc {
    p {
      font-size: 18px;
      font-weight: 400;
      color: $gray;
      line-height: 30px;
      padding: 0px 60px;
      @include media-breakpoint-down(xxl) {
        padding: 0px;
      }
      @include media-breakpoint-down(xl) {
        padding: 0px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 17px;
        line-height: 28px;
        padding: 0 60px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 28px;
        padding: 0 10px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 24px;
        padding: 0 10px;
      }
    }
  }
  .work__container {
    padding-top: 40px;
    @include media-breakpoint-down(sm) {
      padding-top: 20px;
    }
    .work__big__img {
      position: relative;
      img {
        background: #000;
        width: 100%;
        height: auto;
      }
      .play__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
          cursor: pointer;
          @include media-breakpoint-down(xl) {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    .work__right__content {
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      .work__right__content__title {
        padding: 30px;
        background: $main;
        border-radius: 8px;
        margin-bottom: 24px;
        @include media-breakpoint-down(lg) {
          padding: 20px;
        }
        @include media-breakpoint-down(sm) {
          padding: 14px;
        }
        h4 {
          font-size: 24px;
          font-weight: 700;
          color: $white;
          padding-right: 240px;
          padding-bottom: 16px;
          @include media-breakpoint-down(xxl) {
            padding-right: 160px;
          }
          @include media-breakpoint-down(xl) {
            padding-right: 100px;
          }
          @include media-breakpoint-down(lg) {
            font-size: 22px;
            padding-right: 0px;
          }
          @include media-breakpoint-down(md) {
            font-size: 22px;
            padding-right: 20px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 20px;
            padding-right: 20px;
          }
          span {
            color: $yello;
          }
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 30px;
          color: $gray;
          padding-right: 60px;
          @include media-breakpoint-down(xxl) {
            padding-right: 0;
          }
          @include media-breakpoint-down(lg) {
            font-size: 16px;
            line-height: 28px;
            padding-right: 0;
          }
          @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 28px;
            padding-right: 0;
          }
          @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 24px;
            padding-right: 0;
          }
        }
      }
      .work__right__sm__img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
