.banner {
  padding-top: 85px;
  padding-bottom: 128px;
  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .banner__content {
    h1 {
      font-size: 72px;
      font-weight: 700;
      color: $white;
      padding-bottom: 24px;
      span {
        color: $yello;
      }
      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: $gray;
      padding: 0px 60px;
      margin-bottom: 40px !important;
      @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 28px;
        padding: 0px 10px;
      }
    }
    .banner__btn {
      button {
        font-size: 20px;
        font-weight: 700;
        padding: 18px 32px;
        background: $main;
        color: $white;
        border-radius: 8px;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
          padding: 14px 28px;
        }
      }
    }
  }
  .banner__img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
